<mat-accordion class="example-headers-align" >
    <mat-expansion-panel  hideToggle [formGroup]="myForm" (ngSubmit)="onSubmit()"  mat-Dialog-content >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
   
        <mat-form-field>
        <label for="firstName">First Name</label>
        <input  matInput type="text" id="firstName" formControlName="firstName">
        </mat-form-field>


        <mat-form-field>
        <mat-label for="lastName">Last Name</mat-label>
        <input matInput type="text" id="lastName" formControlName="lastName">
        </mat-form-field>
       
   
        <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" >
        </mat-form-field>
    
      <mat-action-row>
        <button color="primary" type="submit" [disabled]="myForm.invalid" mat-dialog-action mat-button  >Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    